/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background: red; */
}
/* UTILITIES */
.wrapper {
  width: 100%;
}
/* HEADER */
.action-button {
  height: 70px;
  background-color: #080B12;
}
/* MAIN */
main {
  width: 100%;
  background-color: #141922;
}
/* Nav-bar */
.main-nav {
  width: 250px;
  background-color: black;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}
.nav-head  img {
  width: 60%;
}
.account img {
  background: #808080;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* Content */
.main-content {
  width: calc(100% - 250px);
  height: 100%;
  margin-left: 250px;
}

/* FOOTER */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
}
.ms-slider {
  width: 100%;
  height: 70px;
  background-color: #282828;
}

/* MQ SM (Content-Only) */

/* MQ XS */
@media screen and (max-width:600px) {
  /* HEADER */

  /* MAIN */
  .main-nav {
    width: 50px;
  }
  .main-content {
    width: calc(100% - 50px);
    margin-left: 50px;
  }
  /* FOOTER */
}
