/* Transactions */
.class-action,
.action-button button {
  transition: all 0.5s linear;
}
/* Animation */
footer .player .player-components li:nth-child(3) a i {
  animation: play 1s ease-in -1s infinite alternate;
}
@keyframes play {
  0% {transform: scale(1);}
  100% {transform: scale(1.3);}
}
footer .player .player-components li:last-child a i {
  animation: redo 1s linear -1s infinite;
}
@keyframes redo {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* MQ Call to Action */
@media screen and (max-height: 350px) {
  .class-action {
    display: none;
  }
}
